<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBAPP1.Properties.Settings.EmployeeConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=E:\OOP\GUI Day 1\day1\DBAPP1\Employee.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>